<!DOCTYPE html>
<html>
  <head>
    <title>Mittcoats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application',
                                media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!-- <%= stylesheet_link_tag    'application',
        "https://fonts.googleapis.com/css?family=Gruppo|Josefin+Sans|Prompt" %>     -->
    <%= favicon_link_tag 'mc_favicon.png' %>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
